<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <receiver
            android:name=".SideBySideWatchAlarmActionTestReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.shiftalarmmvp.action.WATCH_TEST_STOP" />
                <action android:name="com.example.shiftalarmmvp.action.WATCH_TEST_SNOOZE" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
